@use "../global/mixins" as mixin;

.additional-catalog {
  padding-block-start: 23px;

  @include mixin.tablet {
    padding-block-start: 0;
  }

  @include mixin.desktop {
    padding-block-end: 87px;
  }
}

.additional-catalog__wrapper {
  @include mixin.desktop {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-auto-rows: max-content;
    column-gap: 80px;
  }
}

.additional-catalog__title {
  box-sizing: border-box;
  max-width: 266px;
  margin: 0;
  margin-block-end: 36px;
  margin-inline-start: -20px;
  padding-inline: 20px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-products);
  background-color: var(--basic-white);
  position: relative;

  @include mixin.tablet {
    max-width: 420px;
    margin-block-end: 80px;
    font-size: 36px;
    line-height: 36px;
    padding-inline: 40px;
    margin-inline-start: 0;
  }

  @include mixin.desktop {
    margin-inline-start: -40px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -100vw;
    z-index: -1;
    width: 200vw;
    box-shadow: 0 16px 0 1px var(--accent-color);

    @include mixin.tablet {
      box-shadow: 0 23px 0 1px var(--accent-color);
    }
  }
}

.additional-catalog__products {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-inline: -20px;
  border-top: 1px solid var(--border-color-2);
  border-bottom: 1px solid var(--border-color-2);

  @include mixin.tablet {
    margin-inline: 0;
    border: 1px solid var(--border-color-2);
  }

  @include mixin.desktop {
    border-left: none;
    border-right: none;
  }
}

.additional-catalog__product-item + .additional-catalog__product-item {
  border-top: 1px solid var(--border-color-2);
}
