@use "../global/mixins" as mixin;

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 40px;
  padding-block: 7px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;

  @include mixin.tablet {
    width: 250px;
    padding-block: 10px;
  }

  &--primary {
    color: var(--basic-white);
    background-color: var(--accent-color);

    &:not(:disabled):hover,
    &[href]:hover,
    &:not(:disabled):focus,
    &[href]:focus {
      background-color: var(--hover-accent);
    }

    &:not(:disabled):active,
    &[href]:active {
      color: var(--hover-white);
    }
  }

  &--secondary {
    color: var(--text-secondary);
    background-color: var(--background-secondary);

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: var(--border-color-2);
    }

    &:not(:disabled):active {
      color: var(--text-secondary-hover);
    }
  }

  &--small-text {
    font-size: 14px;
    line-height: 18px;

    @include mixin.tablet {
      max-width: 244px;
      font-size: 20px;
      line-height: 20px;
      padding-block: 17px;
      padding-inline: 26px;
    }
  }
}
