.catalog {
  padding-block: 27px 25px;
  border-top: 1px solid var(--border-color-2);
  border-bottom: 1px solid var(--border-color-2);
}

.catalog__title {
  margin: 0;
  margin-block-end: 41px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--text-basic);
}

.catalog__products {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-inline: -20px;
  border-top: 1px solid var(--border-color-2);
}

.catalog__product-card {
  position: relative;
}

.catalog__product-card + .catalog__product-card {
  border-top: 1px solid var(--border-color-2);
}

.catalog__show-more {
  padding-block-start: 78px;
  padding-inline: 20px;
  text-align: center;
  border-top: 1px solid var(--border-color-2);
}

.catalog__heading {
  margin-block-end: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-special);
}

.catalog__description {
  margin: 0;
  margin-block-end: 21px;
}
