@use "../global/mixins" as mixin;

.catalog {
  padding-block: 27px 25px;
  border-top: 1px solid var(--border-color-2);
  border-bottom: 1px solid var(--border-color-2);

  @include mixin.tablet {
    padding-block: 57px 70px;
    border: none;
  }

  @include mixin.desktop {
    padding-block: 188px 76px;
  }
}

.catalog__title {
  margin: 0;
  margin-block-end: 41px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--text-basic);

  @include mixin.tablet {
    margin-block-end: 84px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__products {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-inline: -20px;
  border-top: 1px solid var(--border-color-2);

  @include mixin.tablet {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    justify-items: center;
    row-gap: 60px;
    column-gap: 60px;
    border: none;
    margin-inline: 0;
  }

  @include mixin.desktop {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    row-gap: 63px;
    column-gap: 80px;
  }
}

.catalog__product-card {
  position: relative;
}

.catalog__product-card + .catalog__product-card {
  border-top: 1px solid var(--border-color-2);

  @include mixin.tablet {
    border: none;
  }
}
