.comparison-slider__image-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
}

.comparison-slider__image {
  position: absolute;
  top: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &--before {
    background-image: url("../img/slider/cat-before.png");
    left: 0;
    z-index: 2;
  }

  &--after {
    background-image: url("../img/slider/cat-after.png");
    background-position-x: -11px;
    transform: scaleX(-1);
    right: 0;
    z-index: 1;
  }
}

.comparison-slider__toggle {
  display: block;
  margin-inline: auto;
}
