@use "../global/mixins" as mixin;

.comparison-slider {
  position: relative;
}

.comparison-slider__image-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @include mixin.tablet {
    width: 560px;
    height: 512px;
  }
}

.comparison-slider__image {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &--before {
    background-image: url("../img/slider/cat-before.png");
  }

  &--after {
    background-image: url("../img/slider/cat-after.png");
    background-position-x: -140px;

    @include mixin.tablet {
      background-position-x: -280px;
    }
  }
}

.comparison-slider__toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before,
  &::after {
    @include mixin.pseudo(4px, 108px, var(--special-grey), initial);
    display: block;
    border-radius: 2px;

    @include mixin.tablet {
      height: 236px;
    }
  }

  &::before {
    margin-block-end: -2px;
  }

  &::after {
    margin-block-start: -2px;
  }
}
