@use "../global/mixins" as mixin;

.contacts {
  position: relative;

  @include mixin.desktop {
    display: grid;
    align-items: start;
    justify-items: start;
  }
}

.contacts__container {
  padding-inline: 0;

  @include mixin.tablet {
    margin-inline: 0;
  }

  @include mixin.desktop {
    grid-row: 1/1;
    grid-column: 1/1;
    z-index: 2;
    margin-block: 95px;
    margin-inline: auto;
    pointer-events: none;
  }
}

.contacts__wrapper {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-block: 28px;
  padding-inline: 20px;
  background-color: var(--background-secondary);

  &--index {
    padding-block: 26px;
    background-color: var(--basic-white);
  }

  @include mixin.tablet {
    padding-block: 60px;
    padding-inline: 70px;
  }

  @include mixin.desktop {
    max-width: 565px;
    padding-inline: 80px;
    padding-block: 60px 58px;
    background-color: var(--basic-white);
  }
}

.contacts__description {
  max-width: 140px;
  margin: 0;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-special);

  @include mixin.tablet {
    max-width: 165px;
    font-size: 20px;
    line-height: 26px;
  }

  @include mixin.desktop {
    margin-block-start: 1px;
  }
}

.contacts__address {
  max-width: 140px;
  line-height: 20px;
  font-style: normal;

  @include mixin.tablet {
    max-width: 157px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  @include mixin.desktop {
    text-align: start;
  }
}

.contacts__city {
  display: block;

  @include mixin.tablet {
    margin-block-start: 20px;
  }

  @include mixin.desktop {
    margin-block-start: 19px;
  }
}

.contacts__map {
  grid-row: 1/1;
  grid-column: 1/1;
}
