@use "../global/mixins" as mixin;

.contacts {
  position: relative;
}

.contacts__container {
  padding-inline: 0;

  @include mixin.tablet {
    margin-inline: 0;
  }

  @include mixin.desktop {
    margin-inline: auto;
  }
}

.contacts__wrapper {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-block: 26px;
  padding-inline: 20px;
  background-color: var(--background-secondary);

  &--index {
    background-color: var(--basic-white);
  }

  @include mixin.tablet {
    padding-block: 60px;
    padding-inline: 70px;
  }

  @include mixin.desktop {
    max-width: 565px;
    padding-inline: 80px;
    position: absolute;
    z-index: 1;
    top: 95px;
    background-color: var(--basic-white);
  }
}

.contacts__description {
  max-width: 140px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-special);

  @include mixin.tablet {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  max-width: 140px;
  line-height: 20px;
  font-style: normal;

  @include mixin.tablet {
    max-width: 160px;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__city {
  display: block;
  margin-block-start: 20px;
}
