@use "../global/mixins" as mixin;

.developer {
  position: relative;
  padding-block-start: 10px;
}

.developer__link {
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
  padding-inline-end: 55px;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;

  @include mixin.tablet {
    column-gap: 23px;
    justify-content: stretch;
  }

  &::after {
    @include mixin.pseudo(27px, 34px, var(--slider-control), initial);
    mask: url("../img/sprite.svg#htmlacademy") no-repeat center;
    margin-inline-end: -50px;
    transition: background-color 0.5s;

    @include mixin.tablet {
      margin-inline-end: 0;
    }
  }

  &:hover::after {
    background-color: var(--accent-color);
  }

  &:active::after {
    background-color: var(--accent-color);
  }

  &:active {
    opacity: 0.3;
  }
}
