.features {
  padding-block: 20px 49px;
}

.features__title {
  margin: 0;
  margin-block-end: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--text-basic);
}

.features__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__item {
  padding-inline-start: 80px;
}

.features__decription {
  margin: 0;
}
