@use "../global/mixins" as mixin;

.features {
  padding-block: 20px 49px;

  @include mixin.tablet {
    padding-block: 45px 47px;
    border-bottom: 1px solid var(--border-color-2);
  }
}

.features__title {
  margin: 0;
  margin-block-end: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--text-basic);

  @include mixin.tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  @include mixin.tablet {
    flex-direction: row;
    gap: 37px 137px;
    counter-reset: numbering 0;
  }
}

.features__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 20px;
  position: relative;

  &::before {
    @include mixin.pseudo(60px, 60px, var(--accent-color), initial);
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;

    @include mixin.tablet {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      width: 80px;
      height: 80px;
      margin-block-start: 40px;
    }
  }

  &--icon-leaf::before {
    background-image: url("../img/features/icon-leaf.svg");
  }

  &--icon-mixture::before {
    background-image: url("../img/features/icon-mixture.svg");
  }

  &--icon--cutlery::before {
    background-image: url("../img/features/icon-cutlery.svg");
  }

  &--icon-scales::before {
    background-image: url("../img/features/icon-scales.svg");
  }

  &::after {
    @include mixin.tablet {
      @include mixin.pseudo(136px, 280px);
      content: counter(numbering);
      font-family: "Oswald", sans-serif;
      font-size: 280px;
      font-weight: 400;
      line-height: 280px;
      color: var(--background-secondary);
      z-index: -1;
      top: -38px;
      right: 0;
    }
  }

  @include mixin.tablet {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    max-width: 250px;
    min-height: 280px;
    padding-inline-start: 0;
    counter-increment: numbering 1;
  }
}

.features__decription {
  margin: 0;

  @include mixin.tablet {
    grid-row: 2/3;
    grid-column: 1/-1;
    margin-block-start: 31px;
    font-size: 16px;
    line-height: 24px;
  }
}
