@use "../global/mixins" as mixin;

.field {
  display: flex;
  align-items: center;
  column-gap: 13px;
  position: relative;

  @include mixin.tablet {
    max-width: 100%;
  }

  @include mixin.desktop {
    flex-grow: 1;
  }

  &--email {
    &::after {
      @include mixin.pseudo(20px, 20px, var(--text-basic));
      right: 13px;
      mask-image: url("../img/icons/sprite.svg#email");
    }

    &:focus-within::after {
      background-color: var(--accent-color);
    }
  }

  &--phone {
    &::after {
      @include mixin.pseudo(20px, 20px, var(--text-basic));
      right: 14px;
      mask-image: url("../img/icons/sprite.svg#phone");
    }

    &:focus-within::after {
      background-color: var(--accent-color);
    }
  }

  // Модификатор отображающий состояние ошибки
  &--error {
    .field__input {
      border: 2px solid var(--status-error);
    }

    &::after {
      background-color: var(--status-error);
    }
  }
}

.field__label {
  flex-shrink: 0;

  @include mixin.tablet {
    font-size: 20px;
    line-height: 20px;
  }

  &--text-input {
    max-width: 35%;
  }
}

.field__input {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  padding-block: 13px;
  padding-inline: 15px 40px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid var(--background-input);
  color: var(--text-secondary);

  &:hover {
    border: 1px solid var(--border-color-1);
  }

  &:focus {
    outline: 2px solid var(--text-secondary);
  }

  @include mixin.tablet {
    font-size: 20px;
    max-height: 52px;
    padding-inline-start: 20px;
  }
}
