@use "../global/mixins" as mixin;

.form {
  @include mixin.tablet {
    display: grid;
    row-gap: 65px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "cat-data cat-data"
      "goal goal"
      "owner owner"
      "comment comment"
      "add-goods add-goods"
      "button footnote";
  }

  @include mixin.desktop {
    grid-template-areas:
      "cat-data goal"
      "owner owner"
      "comment comment"
      "add-goods add-goods"
      "button footnote";
    column-gap: 80px;
    align-items: stretch;
  }
}

.form__fieldset {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding: 0;
  padding-block-end: 24px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;

  &--cat-data {
    @include mixin.tablet {
      grid-area: cat-data;
      padding-block-end: 7px;
    }
  }

  &--goal {
    row-gap: 13px;
    margin-block-end: 26px;
    margin-inline: -20px;
    padding-block: 22px 19px;
    padding-inline: 20px;
    border-top: 1px solid var(--border-color-3);
    border-bottom: 1px solid var(--border-color-3);

    @include mixin.tablet {
      grid-area: goal;
      justify-content: center;
      margin-block-end: 0;
      margin-inline: 0;
      border: 1px solid var(--border-color-3);
    }
  }

  &--owner-data {
    @include mixin.tablet {
      grid-area: owner;
      padding-block-end: 0;
    }
  }

  &--additionals {
    margin-block-end: 10px;

    @include mixin.tablet {
      grid-area: add-goods;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 32px;
      margin-block-end: 0;
      padding-block-end: 0;
    }

    @include mixin.desktop {
      grid-template-columns: repeat(4, 1fr);

    }
  }

  @include mixin.tablet {
    font-size: 20px;
  }
}

.form__heading {
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    @include mixin.pseudo(200%, 2px, var(--accent-color));
    top: 16px;
    left: 0;
    right: 0;
    z-index: -1;
    margin-inline-start: -50%;
  }

  @include mixin.tablet {
    grid-column: 1/-1;
  }
}

.form__legend {
  max-width: 187px;
  padding-inline: 20px;
  margin: 0;
  margin-block-end: 37px;
  margin-inline-start: -20px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: var(--background-basic);
  color: var(--text-basic);

  @include mixin.tablet {
    max-width: max-content;
    padding-inline: 40px;
    margin-inline-start: -40px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__comment {
  @include mixin.tablet {
    grid-area: comment;
  }
}

.form__text-input {
  box-sizing: border-box;
  width: 100%;
  max-height: 150px;
  padding-inline: 14px 14px;
  padding-block: 14px;
  margin-block-end: 23px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-secondary);
  border: 1px solid var(--background-input);

  @include mixin.tablet {
    margin-block-end: 0;
  }
}

.form__footnote {
  max-width: 175px;
  align-self: center;
  margin: 0;
  line-height: 16px;
  text-align: center;
  color: var(--text-basic);
}

.form__button {
  margin-block-end: 21px;

  @include mixin.tablet {
    margin-block-end: 0;
  }

  @include mixin.desktop {
    width: 100%;
  }
}

.form__label {
  display: flex;
  column-gap: 15px;
  align-items: center;
  flex-shrink: 0;
}

.form__control {
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 30px;

  &--radio {
    border-radius: 50%;
    border: 1px solid var(--border-color-1);
    top: 0;
    left: 0;
  }

  &--checkbox {
    border: 1px solid var(--border-color-1);
    top: 0;
    left: 0;
  }
}

.form__radio:checked + .form__control::after {
  @include mixin.pseudo(13px, 13px, var(--accent-color));
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__checkbox:checked + .form__control::after {
  @include mixin.pseudo(18px, 14px);
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
