@use "../global/mixins.scss" as mixin;

.form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding: 0;
  padding-block-end: 24px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;

  &--radio {
    row-gap: 13px;
    margin-block-end: 26px;
    margin-inline: -20px;
    padding-block: 22px 19px;
    padding-inline: 20px;
    border-top: 1px solid var(--border-color-3);
    border-bottom: 1px solid var(--border-color-3);
  }

  &--checkbox {
    margin-block-end: 10px;
  }
}

.form__legend {
  margin: 0;
  margin-block-end: 37px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: var(--text-basic);
}

.form__text-input {
  box-sizing: border-box;
  width: 100%;
  max-height: 150px;
  padding-inline: 14px 14px;
  padding-block: 14px;
  margin-block-end: 23px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-secondary);
  border: 1px solid var(--background-input);
}

.form__footnote {
  margin: 0;
  line-height: 16px;
  text-align: center;
  color: var(--text-basic);
}

.form__button {
  margin-block-end: 21px;
}

.form__label {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.form__control {
  box-sizing: border-box;
  position: relative;
  width: 30px;
  height: 30px;

  &--radio {
    border-radius: 50%;
    border: 1px solid var(--border-color-1);
    top: 0;
    left: 0;
  }

  &--checkbox {
    border: 1px solid var(--border-color-1);
    top: 0;
    left: 0;
  }
}

.form__radio:checked + .form__control::after {
  @include mixin.pseudo(13px, 13px, var(--accent-color));
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__checkbox:checked + .form__control::after {
  @include mixin.pseudo(18px, 14px);
  background-image: url("../img/check-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
