@use "../global/mixins" as mixin;

.gift-offer {
  padding-block: 35px;
  color: var(--basic-white);

  @include mixin.tablet {
    padding-block: 75px 70px;
  }

  @include mixin.desktop {
    padding-block: 0;
  }
}

.gift-offer__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 290px;
  margin: 0;
  padding-block: 59px 43px;
  padding-inline: 58px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: var(--accent-color);
  background-image: url("../img/gift/gift-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @include mixin.retina {
    background-image: url("../img/gift/gift-mobile@2x.jpg");
  }

  @include mixin.tablet {
    flex-direction: row;
    min-height: 200px;
    padding-block: 57px;
    padding-inline: 77px;
    background-image: url("../img/gift/gift-tablet.jpg");

    @include mixin.retina {
      background-image: url("../img/gift/gift-tablet@2x.jpg");
    }
  }

  @include mixin.desktop {
    min-height: 288px;
    flex-direction: column;
    padding-block: 56px 43px;
    padding-inline: 42px;
    background-image: url("../img/gift/gift-desktop.jpg");

    @include mixin.retina {
      background-image: url("../img/gift/gift-desktop@2x.jpg");
    }
  }
}

.gift-offer__illustration {
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../img/icons/sprite.svg#icon-gift");
  background-repeat: no-repeat;
  background-size: contain;
}

.gift-offer__description {
  max-width: 180px;
  margin: 0;

  @include mixin.tablet {
    text-align: left;
  }

  @include mixin.desktop {
    text-align: center;
  }
}
