@use "../global/mixins" as mixin;

.gift-offer {
  padding-block: 35px;
  color: var(--background-basic);

  @include mixin.tablet {
    padding-block: 75px 70px;
  }
}

.gift-offer__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 290px;
  margin: 0;
  padding-block: 59px 43px;
  padding-inline: 58px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: var(--accent-color);
  background-image: url("../img/background/gift-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @include mixin.tablet {
    flex-direction: row;
    min-height: 200px;
    padding-block: 57px;
    padding-inline: 77px;
  }
}

.gift-offer__illustration {
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.gift-offer__description {
  max-width: 180px;

  @include mixin.tablet {
    text-align: left;
  }
}
