@use "../global/mixins" as mixin;

.hero {
  background-image: url("../img/background/hero-background.jpg"), linear-gradient(to right, var(--hero-green-1), var(--hero-green-2));
  background-position: top;
  background-repeat: no-repeat;
  background-size: 325px auto, 100% 64%;
  padding-block-start: 27px;

  @include mixin.tablet {
    background: var(--background-basic);
  }
}

.hero__title {
  max-width: 250px;
  margin: 0;
  margin-block-end: 25px;
  margin-inline: auto;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: var(--background-basic);

  @include mixin.tablet {
    max-width: 420px;
    margin-block-end: 40px;
    margin-inline-start: 100px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: var(--text-basic);
  }
}

.hero__decription {
  max-width: 250px;
  margin: 0;
  margin-block-end: 29px;
  margin-inline: auto;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--background-basic);

  @include mixin.tablet {
    max-width: 300px;
    margin-inline-start: 100px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: var(--text-basic);
  }
}

.hero__product-image {
  display: block;
  margin-inline: auto;
  margin-block-end: 3px;
}

.hero__button {
  margin-inline: auto;
}
