@use "../global/mixins" as mixin;

.live-demo {
  padding-block: 25px 40px;
  background-color: var(--background-ternary);

  @include mixin.tablet {
    padding-block: 36px 101px;
    background-image: linear-gradient(to top, var(--background-ternary) 462px, var(--basic-white) 462px);
  }

  @include mixin.desktop {
    padding-block: 61px 55px;
  }
}

.live-demo__container {
  @include mixin.desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
  }
}

.live-demo__title {
  margin: 0;
  margin-block-end: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--text-basic);

  @include mixin.tablet {
    margin-block-end: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @include mixin.desktop {
    max-width: 500px;
    margin-block-end: 146px;
  }
}

.live-demo__decription {
  margin: 0;
  margin-block-end: 27px;

  @include mixin.tablet {
    margin-block-end: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @include mixin.desktop {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 433px;
    margin-block-end: 76px;
  }
}

.live-demo__statistics {
  display: flex;
  justify-content: center;
  row-gap: 20px;
  column-gap: 32px;
  margin: 0;
  margin-block-end: 34px;
  margin-block-start: -7px;

  @include mixin.tablet {
    column-gap: 42px;
    margin-block-end: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @include mixin.desktop {
    column-gap: 42px;
    margin-block-end: 46px;
  }
}

.live-demo__total {
  margin: 0;
  margin-block-end: 20px;
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-basic);

  @include mixin.tablet {
    max-width: 180px;
    padding-block-start: 12px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @include mixin.desktop {
    max-width: 100%;
  }
}

.live-demo__item {
  box-sizing: border-box;
  min-width: 124px;
  padding-block: 14px 16px;
  border: 1px solid var(--border-color-1);
  border-radius: 5px;
  position: relative;

  @include mixin.tablet {
    min-width: 162px;
    padding-block: 15px 20px;
    padding-inline: 30px;
  }
}

.live-demo__value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: var(--text-basic);

  @include mixin.tablet {
    font-size: 30px;
    line-height: 37px;
  }
}

.live-demo__declaration {
  max-width: 87px;
  margin: 0;
  margin-inline: auto;
  padding-inline: 14px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-ternary);

  @include mixin.tablet {
    width: max-content;
    max-width: 142px;
    bottom: -4px;
    font-size: 14px;
    line-height: 14px;
    background-color: var(--basic-white);
  }

  @include mixin.desktop {
    background-color: var(--background-ternary);
  }
}

.live-demo__summary {
  @include mixin.tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 95px;
  }

  @include mixin.desktop {
    grid-column: 1/2;
    grid-row: 3/4;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    margin-block-end: 0;
  }
}

.live-demo__sum {
  @include mixin.tablet {
    display: block;
    margin-block-start: 9px;
  }

  @include mixin.desktop {
    display: inline-block;
    margin-block-start: 0;
    margin-inline-start: 63px;
  }
}

.live-demo__comparison-slider {
  @include mixin.desktop {
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: end;
  }
}
