@use "../global/mixins" as mixin;

.logo-header {
  display: block;

  @include mixin.tablet {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &[href] {
    cursor: pointer;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.logo-header__picture {
  display: block;
  padding-block: 10px;
  padding-inline: 10px;
  margin-inline-start: -10px;

  @include mixin.tablet {
    padding-block: 0;
    padding-inline: 0;
    margin-inline-start: 0;
  }
}

.logo-header__text {
  display: block;
  padding-block: 14px;
  padding-inline: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mixin.tablet {
    position: static;
    transform: translate(0, 0);
  }
}
