.logo-footer {
  display: flex;
  justify-content: center;
  transition: opacity 0.3s;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.logo-footer__text {
  display: block;
  padding-block: 10px;
  padding-inline: 10px;
}
