@use "../global/mixins" as mixin;

.main-header {
  box-sizing: border-box;

  @include mixin.tablet {
    padding-block-start: 25px;
  }

  @include mixin.desktop {
    width: 100%;
    padding-block-start: 55px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-header__container {
  @include mixin.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0;
  }
}

.main-header__wrapper {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-header__toggle {
  width: 24px;
  height: 2px;
  background-color: var(--text-basic);
  position: relative;
  cursor: pointer;
  border: none;

  // Модификатор отвечающий за отображение иконки-крестика для открытого меню
  &--opened {
    transform: rotate(45deg);
  }

  &--opened::before {
    transform: rotate(90deg) translate(8px, 0);
  }

  &--opened::after {
    transform: rotate(180deg) translate(0, 8px);
    opacity: 0;
  }

  @include mixin.tablet {
    display: none;
  }
}

.main-header__toggle::before,
.main-header__toggle::after {
  @include mixin.pseudo(100%, 2px, var(--text-basic));
  transition: transform 0.3s, opacity 0.3s;
}

.main-header__toggle::before {
  top: -8px;
  left: 0;
}

.main-header__toggle::after {
  bottom: -8px;
  left: 0;
}
