@use "../global/mixins" as mixin;

.main-navigation {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-basic);
  margin-inline: -20px;

  @include mixin.tablet {
    margin-inline: 0;
  }
}

.main-navigation__menu {
  text-align: center;
  border-bottom: 1px solid var(--border-color-2);

  @include mixin.tablet {
    border-bottom: none;
  }
}
