@use "../global/mixins" as mixin;

.main-header {
  box-sizing: border-box;

  @include mixin.tablet {
    padding-block-start: 18px;
  }

  @include mixin.desktop {
    width: 100%;
    padding-block-start: 55px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: transparent;
  }
}

.main-header__container {
  padding-inline: 0;

  @include mixin.tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.main-header__wrapper {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  position: relative;
  z-index: 3;
  background-color: var(--basic-white);

  @include mixin.tablet {
    padding-inline: 0;
  }

  @include mixin.desktop {
    background-color: transparent;
  }
}
