@use "../global/mixins" as mixin;

.main-footer {
  padding-block: 30px 40px;
  background-color: var(--background-secondary);

  @include mixin.tablet {
    padding-block: 45px 55px;
  }
}

.main-footer__wrapper {
  @include mixin.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo-footer {
  margin-block-end: 10px;
  margin-inline: auto;

  @include mixin.tablet {
    margin: 0;
  }
}
