@use "../global/mixins" as mixin;

.main-footer {
  padding-block: 25px;
  background-color: var(--background-secondary);

  @include mixin.tablet {
    padding-block: 45px 41px;
  }

  @include mixin.desktop {
    padding-block: 56px 53px;
  }
}

.main-footer__wrapper {
  @include mixin.tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.main-footer__logo-footer {
  margin-block: 5px 10px;
  margin-inline: auto;

  @include mixin.tablet {
    margin-block: 11px 0;
    margin-inline: 0;
  }
}

.main-footer__developer {
  margin-block-start: 11px;

  @include mixin.tablet {
    margin-block-start: 15px;
  }
}
