.map {
  width: 100%;
  height: 362px;
  background-color: var(--background-ternary);
  background-image: url("../img/map.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
