@use "../global/mixins" as mixin;

.map {
  width: 100%;
  height: 362px;
  background-color: var(--background-ternary);

  @include mixin.tablet {
    min-height: 400px;
  }

  @include mixin.desktop {
    height: 100%;
  }
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  z-index: 1;
}

.map__fallback-img {
  position: absolute;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}
