@use "../global/mixins" as mixin;

.product-card {
  box-sizing: border-box;

  @include mixin.tablet {
    min-height: 511px;
  }
}

.product-card__link {
  text-decoration: none;

  &--image {
    min-width: 140px;
    min-height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s;

    @include mixin.tablet {
      min-width: 200px;
      min-height: 210px;
      margin-block-start: -65px;
    }

    @include mixin.desktop {
      min-width: 169px;
    }

    &:hover {
      filter: contrast(110%) saturate(110%);
      animation-name: shake;
      animation-duration: 1s;
      animation-iteration-count: 3s;
    }
  }
}

.product-card__title {
  max-width: 60%;
  margin: 0;
  margin-block-start: -1px;
  margin-block-end: 14px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-products);
  contain: content;

  @include mixin.tablet {
    max-width: 140px;
    margin-inline: auto;
    margin-block-start: 3px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__characteristics {
  margin: 0;
  font-size: 12px;
  line-height: 16px;

  @include mixin.tablet {
    display: grid;
    row-gap: 10px;
    padding-block: 7px;
    margin-block-end: 17px;
    font-size: 16px;
    line-height: 20px;
  }

  @include mixin.desktop {
    padding-block: 10px;
    margin-block-end: 20px;
  }
}

.product-card__image {
  display: block;
  width: 100%;
  object-fit: contain;
  margin-block-start: -7px;

  @include mixin.tablet {
    margin-block-start: -12px;
  }
}

.product-card__container {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 13px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  padding-block: 22px 26px;
  padding-inline: 20px;

  @include mixin.tablet {
    grid-template-columns: 250px;
    justify-content: center;
    align-items: flex-end;
    max-width: 324px;
    min-height: 430px;
    padding-block: 0 40px;
    padding-inline: 37px;
    background-color: var(--background-secondary);
    margin-block-start: 81px;
  }

  @include mixin.desktop {
    max-width: 245px;
  }
}

.product-card__wrapper {
  align-self: flex-start;

  @include mixin.tablet {
    justify-self: stretch;
    align-self: flex-end;
  }

  @include mixin.desktop {
    justify-self: center;
    max-width: 170px;
    min-width: 169px;
    margin-block-start: -9px;
  }
}

.product-card__attributes {
  display: flex;
  justify-content: space-between;

  @include mixin.tablet {
    border-bottom: 1px solid var(--border-color-1);
  }
}

.product-card__definition {
  max-width: 50%;
}

.product-card__value {
  max-width: 50%;
  margin: 0;
  text-align: end;
}

.product-card__button {
  grid-column: 1/-1;
  width: 100%;

  @include mixin.desktop {
    justify-self: center;
    max-width: 169px;
  }
}

// Анимация для картинок в карточках
@keyframes shake {
  30% {
    transform: scale(1.2);
  }

  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }

  50% {
    transform: rotate(20deg) scale(1.2);
  }

  70% {
    transform: rotate(0deg) scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
