.program-selection {
  padding-block: 27px 32px;
  border-top: 1px solid var(--border-color-2);
}

.program-selection__title {
  margin: 0;
  margin-block-end: 37px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--text-products);
}

.program-selection__description {
  max-width: 250px;
  margin: 0;
  margin-block-end: 39px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-basic);
}
