@use "../global/mixins.scss" as mixin;

.program-case {
  padding-block: 30px 3px;
  padding-inline: 20px 33px;
  background-color: var(--background-secondary);
  position: relative;

  &--slim::before,
  &--pro::before {
    @include mixin.pseudo(50px, 50px, var(--accent-color));
    border-radius: 50%;
    top: 24px;
  }

  &--slim::after {
    @include mixin.pseudo(36px, 50px);
    background-image: url("../img/programs/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 21px;
    left: 27px;
  }

  &--pro::after {
    @include mixin.pseudo(67px, 28px);
    background-image: url("../img/programs/cat-mass.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 35px;
    left: 13px;
  }
}

.program-case__title {
  margin: 0;
  margin-block-end: 29px;
  margin-inline-start: 70px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-basic);
}

.program-case__decription {
  margin: 0;
  padding-block-end: 23px;
  border-bottom: 1px solid var(--border-color-3);
}

.program-case__link {
  display: inline-block;
  margin-block: 9px 12px;
  padding-block: 10px;
  padding-inline-end: 47px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-basic);
  position: relative;

  &::after {
    @include mixin.pseudo(32px, 10px);
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
