@use "../global/mixins" as mixin;

.show-more {
  box-sizing: border-box;
  max-width: 324px;
  text-align: center;
  border-top: 1px solid var(--border-color-2);

  @include mixin.tablet {
    display: flex;
    padding-block-start: 81px;
    border-top: none;
  }
}

.show-more__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 78px;
  padding-inline: 20px;
  position: relative;

  &::before,
  &::after {
    @include mixin.pseudo(30px, 2px, var(--border-color-3));
    left: 50%;
    top: 39px;

    @include mixin.tablet {
      width: 60px;
      top: 80px;
    }
  }

  &::before {
    transform: translateX(-50%);
  }

  &::after {
    transform: translateX(-50%) rotate(90deg);
  }

  @include mixin.tablet {
    min-height: 429px;
    padding-block: 160px 40px;
    padding-inline: 35px;
    border: 2px solid var(--background-secondary);
  }

  @include mixin.desktop {
    padding-block-start: 148px;
  }
}

.show-more__heading {
  display: block;
  margin-block-end: 8px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-special);

  @include mixin.tablet {
    max-width: 70%;
    margin-block-end: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  @include mixin.desktop {
    max-width: 90%;
    margin-block-end: 27px;
  }
}

.show-more__description {
  margin: 0;
  margin-block-end: 21px;
  font-size: 12px;
  line-height: 16px;

  @include mixin.tablet {
    max-width: 70%;
    font-size: 16px;
  }

  @include mixin.desktop {
    max-width: 100%;
    margin-block-end: 0;
  }
}

.show-more__button {
  margin-block-start: auto;
  width: 100%;
}
