@use "../global/mixins" as mixin;

.site-menu {
  max-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--basic-white);
  position: absolute;
  transform: translateY(-100%);
  left: 0;
  right: 0;
  z-index: 2;

  &--index {
    @include mixin.desktop {
      color: var(--basic-white);
    }
  }

  &--opened {
    position: absolute;
    transform: translateY(0);
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: -4px 2px 10px 0 var(--text-secondary);
  }

  &--animated {
    transition: transform 0.6s ease-out;
  }

  &--nojs {
    position: initial;
    box-shadow: none;
  }

  @include mixin.tablet {
    max-width: 462px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    margin-block-start: 11px;
    margin-inline-end: -10px;
    background-color: transparent;
    position: initial;
    transform: none;
  }

  @include mixin.desktop {
    min-width: 475px;
    max-width: 502px;
  }
}

.site-menu__item {
  box-sizing: border-box;
  padding-block: 12px;
  border-top: 1px solid var(--border-color-2);

  &--current::after {
    @include mixin.tablet {
      @include mixin.pseudo(calc(100% - 20px), 2px, var(--accent-color), initial);
      margin-inline: auto;
      margin-block-start: -4px;
    }

    @include mixin.desktop {
      margin-block-start: 0;
    }
  }

  @include mixin.tablet {
    max-width: min-content;
    text-wrap: balance;
    padding-block: 0;
    border-top: none;
  }
}

.site-menu__link {
  display: inline-block;
  padding-block: 10px;
  padding-inline: 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @include mixin.tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include mixin.desktop {
    font-size: 20px;
    line-height: 20px;
  }
}

// Можно ли обойтись без каскада и лишних модификаторов для ссылок на главной?
.site-menu--index .site-menu__item {
  &--current::after {
    @include mixin.desktop {
      background-color: var(--basic-white);
    }
  }

  @include mixin.tablet {
    padding-block: 0;
    border-top: none;
  }
}
