@use "../global/mixins" as mixin;

.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 24px;
  list-style: none;
  padding: 0;
  padding-block: 10px;
  margin: 0;
  border-top: 1px solid var(--border-color-3);
  border-bottom: 1px solid var(--border-color-3);

  @include mixin.tablet {
    margin-inline-start: 27px;
    margin-block-start: -2px;
    border: none;
  }
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;
  padding-block: 10px;

  &--vkontakte::after,
  &--youtube::after,
  &--telegram::after {
    @include mixin.pseudo(28px, 22px, var(--slider-control));
    transition: background-color 0.5s;
  }

  &--vkontakte:hover::after,
  &--youtube:hover::after,
  &--telegram:hover::after {
    background-color: var(--accent-color);
  }

  &--vkontakte:active::after,
  &--youtube:active::after,
  &--telegram:active::after {
    background-color: var(--accent-color);
    opacity: 0.3;
  }

  &--vkontakte::after {
    mask: url("../img/icons/sprite.svg#vkontakte") no-repeat center;
  }

  &--youtube::after {
    mask: url("../img/icons/sprite.svg#youtube") no-repeat center;
  }

  &--telegram::after {
    mask: url("../img/icons/sprite.svg#telegram") no-repeat center;
  }
}
