.features__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--text-basic);
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

