.gift-offer {
  background-color: var(--accent-color);
  background-image: url("../img/background/gift-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
