.product-item__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-basic);
}

.product-item__attributes {
  line-height: 14px;
}
